$mobile: "only screen and (min-width: 420px)";

$smallTablet: "only screen and (min-width: 576px)";
$tablet: "only screen and (min-width: 768px)";

$desktop: "only screen and (min-width: 992px)";
$bigDesktop: "only screen and (min-width: 1200px)";
$xxlDesktop: "only screen and (min-width: 1400px)";

// @media #{$smallTablet} {}